@use 'src/styles/vars';

.board {
    background-color: #F4F7FD;
    overflow-y: hidden;
    
    &-header {
        width:99%;
        margin:0 auto;
        padding:2rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-right {
            display: flex;
            align-items: center;
            position:relative;

            & img {
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }

    &-title {
        font-size: 1.5rem;
        font-weight: bolder;
    }

    &-options-container {
        position: absolute;
        top:4rem; 
        right:0;
        background-color: #fff;
        padding:  1rem 2rem 0 2rem;
        border-radius: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;

        & p {
            margin-bottom: 1rem;
            cursor: pointer;
        }
    }
}

.board-container-empty {
    background-color: vars.$veryLightGrey;
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:500px;

    & p {
        color: vars.$mediumGrey;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
}

.board-update {

   &-input {
        width:85%;
        padding:0.5rem 1rem;
        margin: 0.25rem 0;
        border: solid 1px vars.$lightGrey;
        border-radius: 6px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: vars.$mediumGrey;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & i {
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
}