.board {
    background-color: #F4F7FD;
    width:80%;

    &-header {
        width:99%;
        margin:0 auto;
        padding:2rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-right {
            display: flex;
            align-items: center;

            & img {
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }

    &-title {
        font-size: 1.5rem;
        font-weight: bolder;
    }
}