$veryLightGrey: #F4F7FD;
$lightGrey: #E4EBFA;
$mediumGrey: #828FA3;
$darkGrey: #3E3F4E;
$mainPurple: #635FC7;
$mainPurpleHover: #A8A4FF;
$lightPurple: #E9EFFA;
$red: #EA5555;
$success: #7BDCB5;
$redHover: #FF9898;
$darkmodeBg:#20212C ;
$darkmodeMain:  #2B2C37;