@use 'src/styles/vars';

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height:100vh;
  min-height:700px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-button {
  color:white;
  background-color: vars.$mainPurple;
  border:none;
  padding:1rem 2rem;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-button:hover {
  background-color: vars.$mainPurpleHover;
  transition-duration: 0.5s;
}

.button-submit {
  width:100%;
  padding: 1rem;
  background-color: vars.$mainPurple;
  color:white;
  border-radius: 25px;
  border:none;
  margin-top: 2rem;
  font-weight: bolder;

}

.button-submit-secondary {
  width:100%;
  padding: 1rem;
  background-color: vars.$mainPurpleHover;
  color:white;
  border-radius: 25px;
  border:none;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.button-submit:hover {
  background-color: vars.$mainPurpleHover;
  transition-duration: 1s;
}

.button-submit-secondary:hover {
  background-color: vars.$mainPurple;
  transition-duration: 1s;
}

.danger {
  color: vars.$red;
}

.success {
  color: vars.$success ; 
}

.text-outline {
  text-decoration:line-through;
}

.text-medium {
  font-weight: bold;
}

.w-100 {
  width:100%;
}

.w-80 {
  width:80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
