@use 'src/styles/vars';

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height:100vh;
  min-height:700px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-button {
  color:white;
  background-color: vars.$mainPurple;
  border:none;
  padding:1rem 2rem;
  border-radius: 25px;
}

.main-button:hover {
  background-color: vars.$mainPurpleHover;
  transition-duration: 0.5s;
}

.danger {
  color: vars.$red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
