@use 'src/styles/vars';

.lists-container-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    min-height:500px;

    & p {
        color: vars.$mediumGrey;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
}

.lists-container {

    
}