@use 'src/styles/vars';

.lists-container-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    min-height:500px;

    & p {
        color: vars.$mediumGrey;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
}

.lists-container {
    width: 96%;
    margin: 1rem auto;
    display: flex; /* [1] */
    flex-wrap: nowrap; /* [1] */
    overflow-x: auto; /* [1] */
    overflow-y: auto; /* [1] */
    -webkit-overflow-scrolling: touch; /* [4] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */ 
}

.list::-webkit-scrollbar {
    display: none; 
  }

.list {
    width:24% !important;
    padding:2rem 1rem;
    flex: 0 0 auto; 

    &-title {
        display: flex;
        font-weight: bold;
        color: vars.$mediumGrey;
        text-transform: uppercase;

        &-bullet {
            width:1rem;
            height:1rem;
            border-radius: 50px;
            background-color: blue;
            margin-right: 1rem;
        }
    }

    &-new {
        height:70vh;
        min-height: 300px;
        width:20% !important;
        background-color: vars.$lightPurple;
        margin: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto; 


        & p {
            cursor: pointer;
            color: vars.$mediumGrey;
            font-weight: bold;
        }

        & p:hover {
            color: vars.$mainPurple;
            transition-duration: 1s;
        }
    }
}

.tasks {
    margin-top: 1rem;
    max-height:75%;
    min-height: 400px;
    display: flex; /* [1] */
    flex-direction: column;
    flex-wrap: nowrap; /* [1] */
    overflow-y: auto; /* [1] */
    -webkit-overflow-scrolling: touch; /* [4] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */ 
}

.tasks::-webkit-scrollbar {
    display: none; 
  }

.task {
    &-container {
        padding: 1rem 1.5rem; 
        background-color: #fff;
        border-radius: 6px;
        margin: 0.5rem 1rem 0.5rem 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
        flex: 0 0 auto; 
    }

    &-title {
        color: black;
        font-weight: bolder;
        cursor: pointer;
    }

    &-title:hover {
        color: vars.$mainPurple;
        transition-duration: 1s;
    }

    &-subtitle {
        color: vars.$mediumGrey;
        font-weight: 0.8rem;
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}