@use 'src/styles/vars';

.sidebar {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;

    &-logo {
        width:70%;
        margin: 0 ;
    }

    &-toggle-container {
        width:110%;
        display: flex;
        cursor: pointer;
        margin : 2rem 2rem 2rem -2rem;
        padding: 1rem 1rem 1rem 2rem;
        border-radius: 0 25px 25px 0;

        & p {
            font-weight: bolder;
            color: vars.$mediumGrey;
            margin-left: 0.5rem;

            & i {
                padding-right: 0.5rem;
            }
        }
    }

    &-toggle-container:hover {
        background-color: vars.$lightPurple;
        transition-duration: 1s;
        
        & p {
            color: vars.$mainPurple;
        }
    }

    &-relative {
        position: relative;
    }

    &-display-button {
        position: absolute;
        bottom: 2rem;
        left: 0;
        padding: 1rem 2rem;
        border-radius: 0 25px 25px 0;
        background-color: vars.$mainPurpleHover;
        color:white;
        cursor: pointer;
    }

    &-display-button:hover {
        background-color: vars.$mainPurple;
    }
  }

  .boards {
    height:80%;
    margin: 4rem 0;

    &-title {
        color: vars.$mediumGrey;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    &-container {
        margin-top: 1rem;
    }

    &-element {
        margin: 0.25rem 0 0.25rem -2rem;
        padding: 0.75rem 0rem 0.75rem 2rem;
        color: vars.$darkGrey;
        font-size: 0.8rem;
        font-weight: bolder;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-icon {
            margin-right: 1rem;
        }

        &--active {
            background-color: vars.$mainPurple;
            border-radius: 0 25px 25px 0;
            color:white;
        }

        &--main {
            color: vars.$mainPurple;
        }

        & i {
            margin-right: 0.2rem;
            font-size: 0.8rem;
        }
    }

    &-element:hover {
        background-color: vars.$lightPurple;
        color: vars.$mainPurple;
        transition-duration: 1s;
        border-radius: 0 25px 25px 0;
    }
  }

  .darkmode {
    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5em 1.5rem ;
        background-color: vars.$lightGrey;
        border-radius: 10px;
        margin-top: 4rem;
    }

    &-button {
        width:3rem;
        height:1.5rem;
        background-color: vars.$mainPurple;
        border-radius: 20px;
        position: relative;  
        cursor: pointer;      

        &-toggler {
            width: 1rem;
            height: 1rem;
            background-color: #fff;
            border-radius: 50px; 
            position: absolute;
            top:0.25rem;
            left:0.25rem;  
            transition-duration: 0.5s;
            
            &--active {
                left:1.75rem;
            }
        }
    }
  }



  // RESPONSIVE <600px 

  @media screen and (width < 600px) {
    .sidebar {
        display: none;
    }
  }




  // DARK MODE 

  #dark .sidebar {
    background-color: vars.$darkmodeMain;

 
  }

  #dark .boards {

    &-title {
        color: vars.$lightGrey;
    }

    &-element {
        color: vars.$lightGrey;
    }

    &-element:hover {
        background-color: vars.$mainPurpleHover;
        color: vars.$lightPurple;
    }
  }

  #dark .darkmode {
    &-container {
        background-color: vars.$darkmodeBg;
    }
  }


